{% extends 'flatpages/default.html' %}

{% block title %}
Активация учетной записи
{% endblock title %}

{% block content %}
    <h3>Активация учетной записи.</h3>
    <hr>
    <h1>Введите код, полученный в письме.</h1>
    <hr>

  <form method="post">
    {% csrf_token %}
      <input type="text" name="otp_code" placeholder="One-Time Password" required>
      <button type="submit">Confirm</button>
      {% if error %}
      <p style='color:red;'>{{error}}</p>
      {% endif %}
  </form>

{% endblock content %}