{% extends 'flatpages/default.html' %}

{% block title %}
Ads
{% endblock title %}

{% block content %}
<h2>Все объявления</h2>

    {% if perms.ads.add_ads %}
    <a href="{% url 'ads_create' %}">Добавить объявление</a>
    {% endif %}

    {% if ads %}
        <div class="ads-container">
            {% for ad in ads %}
                <div class="ad">
                    <h4><a href="{% url 'ads_detail' pk=ad.id %}">{{ ad.title }}</a></h4>
                <div class="ad-text">
                    <p>{{ ad.text|safe }}</p>
                </div>
                <small>Создано: {{ ad.created_at }}<br>
                Автор: {{ ad.author }}
                </small>
                </div>
            {% empty %}
                <p>Пока нет объявлений.</p>
            {% endfor %}
        </div>
    {% else %}
        <h3>Объявлений нет!</h3>
    {% endif %}

{# Пагинация #}
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}